doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= "Cool Home Page"
    body
        h1= "Welcome to the home page"
        form(action="/create-post" method="POST")
            input(type="text" name="title")
            input(type="text" name="content")
            input(type="submit" value="submit")
        p #{title} #{content}