doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Cool Home Page
body
    h1 Welcome to Node.js Tutorial

    form(action="/create-post" method="post")
        label(for="title") Title:
        input(type="text" name="title")
        br
        label(for="content") Content:
        input(type="text" name="content")
        br
        input(type="submit" value="Submit")

    if query.title && query.content
        h2 Submitted Data
        p Title: #{query.title}
        p Content: #{query.content}
