//- index.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Home Page
  body
    include home.html
    div#submissions
      ul
        each submission in submissions
          li
            h2= submission.title
            p= submission.content
