.userList {
  display: flex;
  justify-content: center;
}

.userInfo {
  height: 90px;
  width: 400px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid grey;
}

.infoId {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20%;
  font-size: 20px;
}

.infoText {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
  font-size: 20px;
}

.infoImg {
  height: 60px;
  width: 60px;
  margin: auto;
}

